.user-events{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.form-field{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 100px;
}

.form-body{
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: black;
    padding-bottom: 20px;

    /* justify-content: center; */
}

.event-name,.event-img,.description,.category,.venue,.capacity,.date,.submit-cancel{
    color: red;

}

.event-image-label, .event-name-label, .event-description-label, .event-category-label, .event-venue-label, .event-capacity-label{
    padding-right: 10px;
    padding-left: 5px;
}

.event-date-label{
    padding-left: 5px;
}

.submit-cancel{
    padding-bottom: 25px;
}

.submit-btn{
    padding-right: 20px;
    padding-bottom: 25px;
}

.create-event-page{
    height: 900px;
}

.error-msgs{
    color: red;
    font-size: larger;
    padding-right: 10px;
}

.required-fields{
    color: red;
    padding-left: 20px;
    padding-right: 20px;
}
