 .userBtn{
    background-color:rgb(104, 5, 104);
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 10px ;
}

h1{
    font-family: 'Caveat Brush', cursive;
    color: rgb(207, 7, 7);
    font-size: 38px;
}

.title{
    display: flex;
    flex-direction: row;
    /* padding-right: 1050px; */
    margin: 0px;
    justify-content: space-between;
}
.test-btn{
    display: inline-flex;
    flex-direction: row;
}
.createEvent{
    text-decoration: none;
    padding-left: 20px;
    color: black;
}

.tickets{
    text-decoration: none;
    display: inline-flex;
    padding-left: 20px;
    color: red;

}

.logoutBtn{
    border:none;
    background-color: white;
    position: relative;
    top: 35%;
    /* border-bottom: 1px; */

}

.logoutDiv{
    position: absolute;
    border: 1px solid black;
    width: 150px;
    height: 60px;
    margin-top: 20px;
    padding-left: 10px;
    box-shadow: 2px 16px 24px 2px rgba(0, 0, 0, 0.14);
    background-color: white;
    border-radius: 10%;
}

.logoutDiv > li{
    list-style: none;
}

.userEventsBtn{
    background-color: white;
    border: none;
    text-align: left;
}

.logoutBtn:hover{
    color:red;
}

.userEventsBtn:hover{
    color:red;

}

body{
    background: linear-gradient(190deg,rgb(104, 5, 104),rgb(6, 6, 155),black);
}
