 .userBtn{
    background-color: white;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    display: flex;
    flex-direction: row;
    /* padding-right: 1050px; */
    margin: 0px;
    justify-content: space-between;
}
.test-btn{
    display: flex;
    flex-direction: row;
    border:none;
    /* padding-left: 600px */
}
.createEvent{
    text-decoration: none;
}
