 .userBtn, .createEvent{
    background-color: white;
    border: none
}

.title{
    display: flex;
    flex-direction: row;
    /* padding-right: 1050px; */
    margin: 0px;
    justify-content: space-between;
}
.test-btn{
    display: flex;
    flex-direction: row;

    border:none;
    /* padding-left: 600px */
}
/* button{
    float: right;
    padding-left: 1800px;
} */
