.images-on-purchases-pg{
    width: 550px;
    height: 300px;
    border-radius: 5px;
}

.user-purchases-div{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.user-purchases-div > h4{
    color: white
}

.user-purchases-pg{
    color: white
}

.registration-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.back-to-tickets-div{
    padding-right: 10px;
}

.cancel-reg-btn:hover{
    background-color: red;
    border-color: red;
}

.back-to-tickets-btn:hover{
    background-color: blue;
    border-color: blue;
}
