.banner-img{
    width: 1897px;
    height: 800px;
}

.front-pg-category{
    display: inline-flex;
    flex-direction: row;
    border: 1px solid gray;
    border-radius: 15px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.banner-div > h1{
    position: absolute;
    font-size: 50px;
    padding-left: 50px;
    padding-top: 100px;
    color: rgb(207,7,7);
}

h3,p{
    color: white
}

.image-div{
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    height: 400px;
    width: 500px;
}

.event-card{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 30px;
}
