.user-events{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: black;
}

.form-field{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 60px;
}

.form-body{
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.price,.event-name,.event-img,.description,.category,.venue,.capacity,.date,.submit-cancel{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.submit-cancel{
    padding-bottom: 20px;
}

.submit-btn{
    padding-right: 20px;
}

.edit-image{
    width: 600px;
    height: 600px;
    border-radius: 2%;
}

.edit-event-pg{
    height: 1000px;
}

.event-price-label,.event-img-label,.description-label,.venue-label,.capacity-label,.date-time-label{
    padding-right: 10px;
    padding-left: 5px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 18px;
}

.error-msgs{
    color: rgb(197, 9, 197);
    font-size: large;
    padding-right: 10px;
}

.edit-event-label{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 30px;
}

.edit-event-submit-btn,.edit-event-cancel-btn{
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
}

.edit-event-submit-btn:hover{
    background-color: rgb(6, 160, 19);
    border-color: rgb(6, 160, 19);
    color: black;
}

.edit-event-cancel-btn:hover{
    background-color: red;
    border-color: red;
    color: black;
}

.see-category-btn,.see-venue-btn,.user-events-btn{
    border-radius: 5px;
}

.category-venue-header{
    padding-top: 10px;
}

.see-category-span{
    padding-right: 10px;
    padding-left: 10px;
}

.see-category-btn:hover,.see-venue-btn:hover,.user-events-btn:hover{
    background-color: blueviolet;
    border-color: blueviolet;
    font-weight: bold;
    color: black;
}

.price-input-box{
    width: 50px;
}

.description-input{
    width: 200px;
    height: 60px;
}

.description{
    display: inline-flex;
    flex-direction: row;
}
