.selected-event-title{
    color: white;
    padding-left: 50px;
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
}

.registration-pg{
    height: 1000px;
}

.registration-homepage-link{
    text-decoration: none;
    font-family: 'Creepster', cursive;
    font-size: 27px;
    color: red;
}

.registration-header{
    padding-left: 10px;
    padding-top: 7px;
}

.selected-img{
    width: 600px;
    height: 300px;
    border-radius: 10%;
    padding-left: 50px;
    padding-top: 20px;

}

.registration-div > h2, .registration-div > h3{
    padding-left: 50px;
    color: white;
}

.selected-event-description{
    padding-left: 70px;
}

.event-registration-span{
    color: white;
    border: 4px yellow solid;
    padding-left: 100px;
    width: fit-content;
    height: fit-content;
}
