.background{
    background-color: aquamarine;
    margin: 10px;
    padding: 10px;
}
.login-signup{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.signup,.login{
    padding: 10px;
}

#home-link{
    font-family: 'Sigmar One', cursive;
    color: crimson;
    padding: 10px;
    margin-top: 10px;
}
